.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 16px;
    width: 100%;
    max-width: 500px;
    border-radius: 0.8em;
    background-color: #062226;
    border: 2px solid #051d21;
    color: white;
    
}


.card__title {
    display: flex;
    color: greenyellow;
    text-align: center;
}

.card__list {
    display: flex;
    gap: 2em;
    text-align: center;
}

.card__item {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
}

.card__value {
    padding-left: 1em;
    color: #999999;
    font-size: 0.8em;
}
